.container{
    width: 950px;
    background-color: silver;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 11px 10px 10px 10px;
    display: flex-box;
}
.main {
    height: 400px;
    width: 750px;
    background-color: red;
    display: flexbox;
    margin: 10px;
    vertical-align: top;

}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}
.row {
    /* TODO - what should go here? */
    display: flex;
    vertical-align: top;

}